.background-img {
	position: absolute;
	top: 0;
	right: 0;
	width: 30rem;
	height: 30rem;
	z-index: -1;
	transition: all ease-in-out 0.3s;
	img {
		z-index: -1;
		height: 100%;
		width: 100%;
	}
}

.background-img.lunch {
	top: -6rem;
	right: 16rem;
	width: 30rem;
	height: 30rem;
}

.background-img.wine {
	top: 6rem;
	right: 7rem;
	width: 10rem;
	height: 10rem;
}

.background-img.opening-hours {
	z-index: -1;
	top: -12rem;
	right: 3rem;
	width: 5rem;
	height: 5rem;
}

.background-img.normal {
	transform: scaleX(-1);
	top: -7rem;
	right: -10rem;
	width: 25rem;
	height: 25rem;
}

@media (max-width: 768px) {
	.background-img.lunch {
		top: 0rem;
		right: 50vw;
		width: 15rem;
		height: 15rem;
	}

	.background-img.wine {
		top: 1rem;
		left: 50vw;
		width: 10rem;
		height: 10rem;
	}

	.background-img.opening-hours {
		z-index: -1;
		top: -12.5rem;
		right: 12vw;
		width: 4rem;
		height: 4rem;
	}
}
