.background-img {
	position: absolute;
	top: 0;
	right: 0;
	width: 30rem;
	height: 30rem;
	z-index: -1;
	transition: all ease-in-out 0.3s;
	img {
		z-index: -1;
		height: 100%;
		width: 100%;
	}
}

.background-img.lunch {
	top: -10rem;
	right: 12rem;
	width: 30rem;
	height: 30rem;
}

.background-img.wine {
	top: 6rem;
	right: 7rem;
	width: 10rem;
	height: 10rem;
}

.background-img.opening-hours {
	z-index: -1;
	top: -12rem;
	right: 3rem;
	width: 5rem;
	height: 5rem;
}

.background-img.all {
	transform: scaleX(-1);
	top: -7rem;
	right: -10rem;
	width: 25rem;
	height: 25rem;
}

.background-img.snack {
	transform: scaleY(1);
	top: 3rem;
	right: 12rem;
	width: 5rem;
	height: 5rem;
}

.background-img.cocktails {
	top: 2rem;
	right: 9rem;
	width: 5rem;
	height: 5rem;
}

.background-img.beer {
	top: 5rem;
	right: 15rem;
	width: 5rem;
	height: 5rem;
}

.background-img.bubbels {
	top: 3rem;
	right: -5rem;
	width: 5rem;
	height: 5rem;
}

@media (max-width: 768px) {
	.background-img.lunch {
		top: 0rem;
		right: 50vw;
		width: 15rem;
		height: 15rem;
	}

	.background-img.wine {
		top: 1rem;
		left: 50vw;
		width: 10rem;
		height: 10rem;
	}

	.background-img.opening-hours {
		z-index: -1;
		top: -12.5rem;
		right: 12vw;
		width: 4rem;
		height: 4rem;
	}

	.background-img.snack {
		top: 4rem;
		right: 10rem;
		width: 5rem;
		height: 5rem;
	}

	.background-img.bubbels {
		top: 2rem;
		right: -6rem;
		width: 8rem;
		height: 8rem;
	}

	.background-img.cocktails {
		top: 1rem;
		right: 10rem;
		width: 5rem;
		height: 5rem;
	}
}

@media screen and (min-width: 1024px) {
	/* From 1024 and up */
	.background-img.snack {
		top: 8rem;
		right: 10rem;
		width: 5rem;
		height: 5rem;
	}
	.background-img.bubbels {
		top: 2rem;
		right: 8rem;
		width: 8rem;
		height: 8rem;
	}

	.background-img.cocktails {
		top: -1rem;
		right: -3rem;
		width: 5rem;
		height: 5rem;
	}
}
