.nav__list-item {
	margin-right: 0.7rem;
	padding-top: 1rem;
	padding-bottom: 0.2rem;
	text-shadow: none;
	font-weight: 700;
	font-size: 1rem;
	transition: all ease-in-out 0.1s;
}

.link--active,
.link--hover:hover {
	border-bottom: 1px var(--color-blue-dark) solid;
	transition: all ease-in-out 0.3s;
}
