.opening-hours-section {
	position: relative;
	z-index: 4;
	text-align: center;
	max-width: 14rem;
	gap: 1rem;
	min-width: 300px;
	padding-top: 2rem;

	opacity: 0;
	animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.opening-hours__title {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 2px;
}

.opening-hours__day {
	margin-bottom: 1rem;
	display: flex;
	width: 100%;
	gap: 4rem;
	font-size: 1.2rem;
	justify-content: space-between;
}

.opening-hours__day-name {
	font-weight: 600;
}

.opening-hours-section--small {
	padding: 0;
	min-width: 220px;
	.opening-hours__title {
		margin-block: 1rem;
		font-weight: bold;
		font-size: 1.5rem;
		font-style: normal;
		/* text-align: left; */
	}
	.opening-hours__day {
		margin-bottom: 0.1rem;
		text-align: right;
		gap: 0;
		.opening-hours__day-name {
			text-align: left;
		}
	}
}

@media screen and (max-width: 767px) {
	/* Phone-specific styles here */
	.opening-hours-section {
		border-top: 2px solid var(--color-blue-dark);
	}

	.opening-hours-section--small {
		border: none;
	}
}
