.opening-hours-section {
	position: relative;
	z-index: 4;
	text-align: center;
	max-width: 14rem;
	gap: 1rem;
	min-width: 300px;
	padding-top: 2rem;
}

.opening-hours__title {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 2px;
}

.opening-hours__day {
	margin-bottom: 1rem;
	display: flex;
	width: 100%;
	gap: 4rem;
	font-size: 1.2rem;
	justify-content: space-between;
}

.opening-hours__day-name {
	font-weight: 600;
}

@media screen and (max-width: 767px) {
	/* Phone-specific styles here */
	.opening-hours-section {
		border-top: 2px solid var(--color-blue-dark);
	}
}
