.menu {
	min-width: 30vw;
	z-index: 2;
	text-align: center;
	position: relative;
}

.menu.small article {
	margin-bottom: 0.2rem;
	.menu-item__title {
		font-size: 1rem;
	}
}

.menu__description {
	margin-top: 0.3rem;
	margin-bottom: 2rem;
}

.menu__description--price {
	color: var(--color-blue-dark);
	font-weight: 900;
	font-size: 1.3rem;
}

.menu__background-img {
	position: absolute;
	top: 0;
	right: 0;
	width: 30rem;
	height: 30rem;
	z-index: -1;
	img {
		height: 100%;
		width: 100%;
	}
}

/* === Phones (e.g. iPhones, less than 768px) === */
@media screen and (max-width: 767px) {
	/* Phone-specific styles here */
	.menu:first-of-type {
		margin-top: 3rem;
	}
}
