.menu {
	z-index: 2;
	text-align: center;
	position: relative;
}

.menu__description {
	margin-top: 0.3rem;
	margin-bottom: 2rem;
}

.menu__description--price {
	color: var(--color-blue-dark);
	font-weight: 900;
	font-size: 1.3rem;
}

.menu__background-img {
	position: absolute;
	top: 0;
	right: 0;
	width: 30rem;
	height: 30rem;
	z-index: -1;
	img {
		height: 100%;
		width: 100%;
	}
}

.menu__background-img.lunch {
	top: 0rem;
	right: 4rem;
	width: 30rem;
	height: 30rem;
}

.menu__background-img.wine {
	top: 6rem;
	right: 7rem;
	width: 10rem;
	height: 10rem;
}

.menu__background-img.opening {
	top: 6rem;
	right: 7rem;
	width: 10rem;
	height: 10rem;
}

/* === Phones (e.g. iPhones, less than 768px) === */
@media screen and (max-width: 767px) {
	/* Phone-specific styles here */
	.menu {
		margin-top: 4rem;
	}
}
