.menu {
	z-index: 2;
	text-align: center;
	position: relative;
	padding-top: 2rem;
}

.menu.small article {
	margin-bottom: 0.5rem;
	min-width: 200px;
	.menu-item__title {
		font-size: 1rem;
	}
}

.menu.wine-all {
	min-width: 350px;
	.menu-item__price {
		right: -1.5rem;
		text-align: left;
	}
}

.menu__items {
	margin-top: 1.5rem;
}

.menu__description {
	margin-top: 0.3rem;
}

.menu__description--price {
	color: var(--color-blue-dark);
	font-weight: 900;
	font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
	/* Tablet-specific styles here */

	.menu.wine-all {
		min-width: 350px;
		.menu-item__price {
			right: -0.1rem;
			text-align: left;
		}
	}
}

@media screen and (max-width: 767px) {
	/* Phone-specific styles here */
	.menu {
		border-top: 2px solid var(--color-blue-dark);
	}
}
