.skeleton {
	animation: skeleton-loading 1s ease-in-out infinite;
}

.menu-item--skeleton {
	position: relative;
	margin-bottom: 4%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

@keyframes skeleton-loading {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
