.page-events {
	gap: 2rem;
	.footer {
		margin-top: 0px;
	}
}

.events-coming__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 700px;
	gap: 2.5rem;
	padding: 9rem 1rem;
	height: 100vh;
	justify-content: center;
}

.events-coming__banner {
	width: 60%;
	max-width: 360px;
	height: auto;
}

.events-coming__title {
	font-size: 1.8rem;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	padding-bottom: 3rem;
	margin-bottom: -0.5rem;
}

.events-coming__text {
	font-size: 1.1rem;
	line-height: 1.8;
	text-align: center;
	max-width: 520px;
	padding-bottom: 1.5rem;
	border-bottom: 2px solid var(--color-blue-dark);
}

.events-coming__illustrations {
	display: flex;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.events-coming__icon {
	width: 56px;
	height: auto;
	opacity: 0.6;
}

@media screen and (max-width: 767px) {
	.events-coming__banner {
		width: 85%;
	}

	.events-coming__title {
		font-size: 1.4rem;
	}

	.events-coming__text {
		font-size: 1rem;
	}
}
