.event-calendar {
	padding: 2rem;
	border-radius: 1rem;
	max-width: 600px;
}

.event-calendar h2 {
	margin-bottom: 1rem;
}

.event-calendar ul {
	min-width: 100%;
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 2rem;
}
