/* .event-card {
	position: relative;
	background: white;
	width: 250px;
	height: 300px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	outline: 2px solid transparent;
	transition: all 0.2s ease-in-out;
}
.event-card:hover {
	outline: 2px solid var(--color-blue-light);
}

.event-img {
	width: 100%;
	height: 160px;
	object-fit: cover;
}

.event-date {
	position: absolute;
	top: 1rem;
	left: 1rem;
	background: white;
	border: 2px solid var(--color-blue-light);
	text-align: center;
	padding: 0.3rem 0.5rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.event-month {
	display: block;
	font-size: 0.75rem;
	font-weight: bold;
}

.event-day {
	display: block;
	font-size: 1.25rem;
	font-weight: bold;
}

.event-info {
	padding: 1rem;
}

.event-info h3 {
	font-size: 1rem;
	margin-bottom: 0.3rem;
}

.event-time {
	font-weight: bold;
	color: var(--color-text);
	margin-bottom: 0.5rem;
}
*/
.event-card__read-more {
	gap: 0.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	/* color: var(--color-text); */
	border: 1px solid var(--color-bg);
	padding: 0.2rem;
	margin-bottom: 0.2rem;
	width: 80%;
	text-align: center;
}
.event-card__read-more:hover {
	border: 1px solid var(--color-bg);
	background-color: var(--color-bg);
	color: var(--color-blue-dark);
}

.event-card__read-more svg {
	transition: transform 0.2s ease;
}

.event-card__read-more:hover svg {
	transform: translateX(3px);
}
/*======================*/

.event-card--poster {
	position: relative;
	width: 300px;
	height: 480px;
	background: var(--color-blue-dark);
	color: var(--color-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.5rem;
	overflow: hidden;
	text-decoration: none;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
	transition: 0.2s all ease-in-out;
}

.event-card--poster:hover {
	scale: 1.01;
}

.event-card__vertical {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	letter-spacing: 0.1em;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-weight: 300;
}

.event-card__vertical--left {
	left: 0.5rem;
}

.event-card__vertical--right {
	right: 0.5rem;
}

.event-card__header {
	width: 100%;
	text-align: center;
	z-index: 999;
	height: 80px;
}

.event-card__title {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1.1;
}

.event-card__image-container {
	width: 80%;
	margin-inline: 1rem;
	height: 350px;
	overflow: hidden;
}

.event-card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.event-card__desc {
	font-size: 0.9rem;
	letter-spacing: 0.2ch;
	width: 80%;
	margin-top: 0.5rem;
}

.event-card__date {
	font-size: 1.15rem;
	letter-spacing: 0.08em;
	font-weight: 700;
	margin-block: 0.4rem;
}

@media (max-width: 400px) {
	.event-card--poster {
		width: 90vw;
		height: auto;
		min-height: 400px;
		margin-bottom: -0.7rem;
	}
}
