.page-error {
	.flexbox {
		width: 90%;
		max-width: 400px;
		margin-block: 3rem;
		padding: 1rem;
		border: solid var(--color-blue-dark) 4px;
		border-radius: 10px;
	}
}

.page__error-section {
	display: flex;
	flex-direction: column;
}

.error-section__title {
	font-size: 5rem;
}

.error-section__subtitle {
	font-weight: 600;
}
