.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 60%;
	margin-top: 5rem;
}

.footer__section {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.footer__heading {
	margin-block: 1rem;
	font-weight: bold;
	font-size: 1.5rem;
	font-style: normal;
	text-align: left;
}

.footer__list {
	width: 100%;
}

.footer__list-item {
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	text-align: right;
}

.list-item__title {
	font-weight: 700;
}

.list-item__link:hover {
	text-decoration: underline;
}

.footer__icon-wrapper {
	margin-block: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

.footer__icon-wrapper:hover {
	scale: 1.2;
}

.footer__map-wrapper {
	justify-content: center;
	align-items: center;
	* {
		width: 100%;
	}
}

/* Responsiv justering */
@media (max-width: 768px) {
	.footer {
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 95%;
	}

	.footer__map-wrapper {
		margin-right: -0rem;
		align-self: center;
	}

	.footer__heading--right {
		align-self: center;
	}
}
