.follow-us {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 4rem;
}

.follow-us__title {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 2px;
}

.follow-us__icons {
	display: flex;
	gap: 2rem;
}

.follow-us__icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

.follow-us__icon-link:hover {
	scale: 1.2;
}
