@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

:root {
	/* COLORS */
	--color-bg: #f2f0ef;
	--color-blue-light: #9aabc9; /* Ljusblå */
	--color-blue-dark: #4e769c; /* Mörkblå */
	--color-white: #ffffff;
	--color-text: #333333;
	--color-black: #000000;
	--color-test: #bccae2a4;
	/* FONTS */
	--font-base: 'Source Serif Pro', serif;
	--font-alt: 'Inter', sans-serif;
	--font-size-base: 16px;
}

/*  ==== RESET ==== */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-base);
}

a {
	color: var(--color-blue-dark);
	text-decoration: none;
}

button {
	border: none;
}

ul {
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

/* ==== BASIC STYLING ==== */

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-bg);
	min-width: 100vw;
	overflow: hidden;
}

.page {
	min-height: 100vh;
	background-color: var(--color-bg);
	color: var(--color-blue-dark);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	min-width: 100vw;
}

.page__top-section {
	margin-block: 2rem;
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
}

/* === Tablets (e.g. iPads, 768px – 1024px) === */
@media screen and (max-width: 1024px) {
	/* Tablet-specific styles here */
}

/* === Phones (e.g. iPhones, less than 768px) === */
@media screen and (max-width: 767px) {
	/* Phone-specific styles here */
	.page__top-section {
		margin-top: 4rem;
	}
}
