@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

:root {
	/* COLORS */
	--color-bg: #f2f0ef;
	--color-blue-light: #9aabc9; /* Ljusblå */
	--color-blue-dark: #4e769c; /* Mörkblå */
	--color-white: #ffffff;
	--color-text: #333333;
	--color-black: #000000;

	/* FONTS */
	--font-base: 'Source Serif Pro', serif;
	--font-alt: 'Inter', sans-serif;
	--font-size-base: 16px;
}

/*  ==== RESET ==== */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-base);
}

a {
	text-decoration: none;
}

button {
	border: none;
}

ul {
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

/* ==== BASIC STYLING ==== */

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-bg);
}

.page {
	min-height: 100vh;
	background-color: var(--color-bg);
	color: var(--color-blue-dark);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
}

.page-header {
	z-index: 4;
	top: 2rem;
	position: absolute;
	font-size: 2rem;
	font-weight: 600;
}

.background-img {
	position: absolute;
	top: 0;
	right: 0;
	width: 30rem;
	height: 30rem;
	z-index: -1;
	transition: all ease-in-out 0.3s;
	img {
		z-index: -1;
		height: 100%;
		width: 100%;
	}
}

.background-img.lunch {
	top: -6rem;
	right: 16rem;
	width: 30rem;
	height: 30rem;
}

.background-img.wine {
	top: 6rem;
	right: 7rem;
	width: 10rem;
	height: 10rem;
}

.background-img.opening-hours {
	z-index: -1;
	top: -12rem;
	right: 3rem;
	width: 5rem;
	height: 5rem;
}

@media (max-width: 768px) {
	.background-img.lunch {
		top: 0rem;
		right: 50vw;
		width: 15rem;
		height: 15rem;
	}

	.background-img.wine {
		top: 1rem;
		left: 50vw;
		width: 10rem;
		height: 10rem;
	}

	.background-img.opening-hours {
		z-index: -1;
		top: -12.5rem;
		right: 12vw;
		width: 4rem;
		height: 4rem;
	}
}

/* === Tablets (e.g. iPads, 768px – 1024px) === */
@media screen and (max-width: 1024px) {
	/* Tablet-specific styles here */
}

/* === Phones (e.g. iPhones, less than 768px) === */
@media screen and (max-width: 767px) {
	/* Phone-specific styles here */
}
